
  <mat-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="parentForm">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Search Hotel</ng-template>
       <app-search-hotel></app-search-hotel>

      </form>
    </mat-step>
    <mat-step [stepControl]="parentForm" label="Fill out your address">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Choose Hotel</ng-template>
        <app-choose-hotel></app-choose-hotel>
        
      </form>
    </mat-step>
    <mat-step [stepControl]="parentForm" label="Fill out your address">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Choose Room</ng-template>
        <app-choose-room></app-choose-room>
        
      </form>
    </mat-step>
    <mat-step [stepControl]="parentForm" label="Fill out your address">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Personal Information</ng-template>
        <app-personal-information></app-personal-information>
       
      </form>
    </mat-step>
    <mat-step [stepControl]="parentForm" label="Fill out your address">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Guest Information</ng-template>
        <app-guest-information></app-guest-information>
       
      </form>
    </mat-step>
    <mat-step [stepControl]="parentForm" label="Fill out your address">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Payment Details</ng-template>
        <app-payment-details></app-payment-details>
       
      </form>
    </mat-step>
    <mat-step [stepControl]="parentForm" label="Fill out your address">
      <form [formGroup]="parentForm">
        <ng-template matStepLabel>Finish Booking</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="bookHotel()">Save</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  