<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        <span class="menu-spacer"></span>
        <!-- <h2>BookHotel</h2> -->
        <div class="example-spacer">
            <span class="me-2 active"><a mat-button><mat-icon>cottage</mat-icon>Hotels</a></span>
           <span class="me-2"><a mat-button><mat-icon>flight_takeoff</mat-icon>Flights</a></span>
            <span class="me-2"><a mat-button><mat-icon>directions_car</mat-icon>Cars</a></span>
            <span class="me-2"><a mat-button><mat-icon>location_city</mat-icon>List property</a></span>
            
        </div>
        <div> 
            <a mat-button><mat-icon>account_circle</mat-icon>Login</a>
            <a mat-button><mat-icon>person_add</mat-icon>Register</a>
        </div>
      
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenasv" mode="side">
  
      <mat-list>
        <mat-list-item routerLinkActive="highlight">Dashboard</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLinkActive="highlight" routerLink="/new-booking">New Booking</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLinkActive="highlight">All Bookings</mat-list-item>
      </mat-list>

     
    </mat-drawer>
  
    <router-outlet></router-outlet>
  </mat-drawer-container>
  