<div class="container-fluid mt-2">
  <form [formGroup]="searchHotel" (ngSubmit)="saveForm()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Select City</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="city"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="checkInDate" placeholder="Start date">
            <input matEndDate formControlName="checkOutDate" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
        </mat-form-field>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div>
            <span class="float-start">Adults <mat-icon (click)="adultChange('Increment')">do_not_disturb_on</mat-icon>{{searchHotel.value.adults}}<mat-icon (click)="adultChange('decrement')">add_circle</mat-icon></span>
          
            <span class="float-end">Childrens <mat-icon (click)="childrenChange('Increment')">do_not_disturb_on</mat-icon>{{searchHotel.value.childrens}}<mat-icon (click)="childrenChange('Increment')">add_circle</mat-icon></span>
          </div>
        </div>
      </div>
    </div>
    <button mat-button matStepperNext>Cancel</button>
    <button mat-raised-button type="submit" color="primary"  matStepperNext>Search Hotel</button>
  </form>
</div>

<div>

</div>